<%- include('partials/header.ejs') %>

    <div class="modal__upload-img">
        <h1 class="newEntryForm__header">upload image</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <select name="itemSelected">

                <% foundItems.forEach(function(item) { %>
                    <% if (item.status == "closet") { %>
                        <option value="<%= item._id %>"> <%= item.name %> </option>
                    <% } %>
                <% }) %>

            </select>   
            <input type="file"name="file">
            <input type="submit" value="upload"></input>
        </form>
    </div>

    <ul class="items-section">
        <h1 class="status-header">closet</h1>
        
        <% foundItems.forEach(function(item) { %>
            <% if (item.status == "closet") { %>

                <form action="/change" method="post">
                    <div class="item">
                        <div class="item-img-container">
                            <input type="hidden" name="selectedImgContainer" value="<%= item.id %>">
                            <img src="<%= item.img %>" alt="">
                        </div>
                        <div>
                            <label class="item-name-label" for="itemName">item name |</label>
                            <li class="item-name" name="itemName"> <%= item.name %> </li>
                        </div>
                        <div>
                            <label class="status-label" for="price">price |</label>
                            <li class="item-name" name="itemName"> <%= item.price %> </li>
                        </div>
                        <div class="move-to-section">
                            <label class="status-label">move to: </label>
                            <div class="move-to-buttons">
                                <label>photo'd</label>
                                <input type="checkbox" name="movePhotod" value="photod" onChange="submit()">
                                <label>list'd</label>
                                <input type="checkbox" name="moveListed" value="listed" onChange="submit()">
                                <label>delete</label>
                                <input type="checkbox" name="moveDelete" value="delete" onChange="submit()">
                                <input type="hidden" name="moveId" value="<%= item.id %>">
                            </div>
                        </div>
                    </div>
                </form>

            <% } %>
        <% }) %>

    </ul>
    <div class="upload-section">
        <button class="upload-button">add new item</button>
    </div>

<%- include('partials/footer.ejs'); %>