<%- include('partials/header.ejs') %>

<%- include("partials/sidebar.ejs") %>

    <div class="modal__upload-img">
        <h1 class="newEntryForm__header">upload image</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <select name="itemSelected">

                <% foundItems.forEach(function(item) { %>
                    <% if (item.status == "closet") { %>
                        <option value="<%= item._id %>"> <%= item.name %> </option>
                    <% } %>
                <% }) %>

            </select>   
            <input type="file"name="file">
            <input type="submit" value="upload"></input>
        </form>
    </div>

    <div class="display">

        <div class="display__welcome">
            <h2>Hello, Steven </h2>
            <p>Welcome to your closet.</p>
        </div>
        
        <% foundItems.forEach(function(item) { %>
            <% if (item.status == "closet") { %>

                <div class="items-section">
                    <form action="/change" method="post">
                        <div class="item">
                            <div class="item-img-container">
                                <input type="hidden" name="selectedImgContainer" value="<%= item.id %>">
                                <img src="<%= item.img %>" alt="">
                            </div>
                            <div class="item-info">
                                <div class="item-info__top">
                                    <label class="item-name-label" for="itemName">Item Name:</label>
                                    <li class="item-name" name="itemName"> <%= item.name %> </li>
                                </div>
                                <div class="item-info__middle">
                                    <div>
                                        <label class="status-label" for="price">Category:</label>
                                        <li class="item-name" name="category"> <%= item.group %> </li>
                                    </div>
                                    <div>
                                        <label class="item-name-label" for="price">Price:</label>
                                        <li class="item-name" name="price"> <%= item.price %> </li>
                                    </div>
                                </div>
                                <div class="move-to-section">
                                    <label class="item-name-label">Move To: </label>
                                    <div class="move-to-buttons">
                                        <button name="movePhotod" value="photod" onClick="submit()"><i class="fas fa-camera-retro"></i></button>
                                        <button name="moveListed" value="listed" onChange="submit()"><i class="fas fa-store"></i></button>
                                        <button name="moveDelete" value="delete" onChange="submit()"><i class="fas fa-trash"></i></button>
                                        <input type="hidden" name="moveId" value="<%= item.id %>">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            <% } %>
        <% }) %>

    </div>

<%- include('partials/footer.ejs'); %>