<%- include("partials/header.ejs") %>
  
<%- include("partials/sidebar.ejs") %>

<div class="display">

    <div class="display__welcome">
        <h2>Hello, <%= data[0].name %> </h2>
        <p>Hope all is well.</p>
    </div>

    <div class=display__top>

        <div class="reports-section">
            <div class="report">
                <div class="report__left">
                    <h6>This Week's Sales: </h6>
                    <p><i class="fas fa-hand-point-up"></i> +25.75%</p>
                </div>
                <h4>24</h4>
            </div>
            <div class="report">
                <div class="report__left">
                    <h6>This Week's Gross: </h6>
                    <p><i class="fas fa-hand-point-up"></i> +15.30%</p>
                </div>
                <h4>$657.00</h4>
            </div>
            <div class="report">
                <div class="report__left">
                    <h6>This Week's Net: </h6>
                    <p><i class="fas fa-hand-point-up"></i> +5.34%</p>
                </div>
                <h4>$598.00</h4>
            </div>
        </div>
        
        <div class="graph-section">
            <div>
                <h3>Sales By Group</h3>
            </div>
            <div class="graph">
                <div class="graph__bar" style="height: <%= data[0].sales %> ;"></div>
                <div class="graph__bar" style="height: <%= data[0].sales %> ;"></div>
                <div class="graph__bar" style="height: <%= data[0].sales %> ;"></div>
            </div>
            <div class="groups">
                <p>Shirts</p>
                <p>Pants</p>
                <p>Shoes</p>
            </div>
        </div>
    </div>

    <div class="items-counter">

        <div class="item-counter">
            <h4>Closet</h4>
            <h1><%= data[1].closet %></h1>
        </div>
        <div class="item-counter">
            <h4>Photo'd</h4>
            <h1><%= data[1].photod %></h1>
        </div>
        <div class="item-counter">
            <h4>List'd</h4>
            <h1><%= data[1].listed %></h1>
        </div>

    </div>

</div>
    
<%- include("partials/footer.ejs") %>