<%- include("partials/header.ejs") %>
  
<%- include("partials/sidebar.ejs") %>

<div class="display">

    <div class="display__welcome">
        <h2>Hello, <%= data[0].name %> </h2>
        <p>Hope all is well.</p>
    </div>

    <div class=display__top>

        <div class="reports-section">
            <div class="report">
                <div class="report__left">
                    <h6>This Week's Sales: </h6>
                    <p style="<%= data[4].pointerColorSales %>"><i class="<%= data[4].pointerClassSales %>"></i> <%= data[4].percentageSales %>%</p>
                </div>
                <h4><%= data[1].sold %></h4>
            </div>
            <div class="report">
                <div class="report__left">
                    <h6>This Week's Gross: </h6>
                    <p style="<%= data[4].pointerColorGross %>"><i class="<%= data[4].pointerClassGross %>"></i> <%= data[4].percentageGross %>%</p>
                </div>
                <h4>$<%= data[2].gross %></h4>
            </div>
            <div class="report">
                <div class="report__left">
                    <h6>This Week's Net: </h6>
                    <p style="<%= data[4].pointerColorNet %>"><i class="<%= data[4].pointerClassNet %>"></i> <%= data[4].percentageNet %>%</p>
                </div>
                <h4>$<%= data[2].net %></h4>
            </div>
        </div>
        
        <div class="graph-section">
            <div>
                <h3>Sales By Group</h3>
            </div>
            <div id="graph">
                <div class="graph__bar" style="height: <%= data[3].shirtsPercentage %>%;">
                    <p> <%= data[3].shirts %> </p>
                </div>
                <div class="graph__bar" style="height: <%= data[3].pantsPercentage %>%;">
                    <p> <%= data[3].pants %> </p>
                </div>
                <div class="graph__bar" style="height: <%= data[3].shoesPercentage %>%;">
                    <p> <%= data[3].shoes %> </p>
                </div>
            </div>
            <div class="groups">
                <p>Shirts</p>
                <p>Pants</p>
                <p>Shoes</p>
            </div>
        </div>
    </div>

    <div class="items-counter">

        <div class="item-counter">
            <h4>Closet</h4>
            <h1><%= data[1].closet %></h1>
        </div>
        <div class="item-counter">
            <h4>Photo'd</h4>
            <h1><%= data[1].photod %></h1>
        </div>
        <div class="item-counter">
            <h4>List'd</h4>
            <h1><%= data[1].listed %></h1>
        </div>

    </div>

</div>
    
<%- include("partials/footer.ejs") %>