<%- include("partials/header.ejs") %>
  
<%- include("partials/sidebar.ejs") %>

<!-- NEW ITEM MODAL -->

    <form class="modal__new-item" action="/" method="post" enctype="multipart/form-data">
        <h1>Enter New Item</h1>
        <label for="group">Group Name:</label>
        <select name="group" id="group">

            <% data[0].groups.forEach(function(group) { %>
            
                <option value="<%= group %>"> <%= group %> </option>

            <% }) %>

        </select>
        <label>Item Name:</label>
        <input class="modal__new-item__name" type="text" name="item" placeholder="New Item" autocomplete="off">
        <div class="price-section">
            <div class="price-section__money">
                <label>Item Cost:</label>
                <div class="price-section__money__inputs">
                    <span>$</span>
                    <input type="text" name="costDollars" class="price" placeholder="XX" autocomplete="off">
                    <span>.</span>
                    <input type="text" name="costCents" class="price" placeholder="XX" autocomplete="off">
                </div>
            </div>
            <div class="price-section__money">
                <label>Item Price:</label>
                <div class="price-section__money__inputs">
                    <span>$</span>
                    <input type="text" name="priceDollars" class="price" placeholder="XX" autocomplete="off">
                    <span>.</span>
                    <input type="text" name="priceCents" class="price" placeholder="XX" autocomplete="off">
                </div>
            </div>
        </div>
        <label>Upload Image:</label>
        <input class="file-upload" type="file" name="image">
        <button class="add-item-button">Add To Closet</button>
    </form>

<div class="display">

    <div class="display__welcome">
        <h2>Hello, <%= data[0].name %> </h2>
        <p>Hope all is well.</p>
    </div>
    
    <p class="error-message"><%= data[6] %></p>
    
    <div class=display__top>


        <div class="reports-section">
            <div class="report">
                <div class="report__left">
                    <h6>This Week's Sales: </h6>
                    <p style="<%= data[5].pointerColorSales %>"><i class="<%= data[5].pointerClassSales %>"></i> <%= data[5].percentageSales %>%</p>
                </div>
                <h4><%= data[1].sold %></h4>
            </div>
            <div class="report">
                <div class="report__left">
                    <h6>This Week's Gross: </h6>
                    <p style="<%= data[5].pointerColorGross %>"><i class="<%= data[5].pointerClassGross %>"></i> <%= data[5].percentageGross %>%</p>
                </div>
                <h4>$<%= data[2].gross %></h4>
            </div>
            <div class="report">
                <div class="report__left">
                    <h6>This Week's Net: </h6>
                    <p style="<%= data[5].pointerColorNet %>"><i class="<%= data[5].pointerClassNet %>"></i> <%= data[5].percentageNet %>%</p>
                </div>
                <h4>$<%= data[2].net %></h4>
            </div>
        </div>
        
        <div class="graph-section">
            <div>
                <h3>Sales By Group</h3>
            </div>
            <div id="graph">

                <% data[0].groups.forEach(function(group) { %>

                    <div class="graph__bar" style="height: <%= data[4][group] %>%;">
                        <p> <%= data[3][group] %> </p>
                    </div>
                
                <% }) %>

            </div>
            <div class="groups">

                <% data[0].groups.forEach(function(group) { %>

                    <p> <%= group %> </p>

                <% }) %>

            </div>


        </div>
    </div>

    <div class="items-counter">

        <div class="item-counter">
            <h4>Closet</h4>
            <h1><%= data[1].closet %></h1>
        </div>
        <div class="item-counter">
            <h4>Photo'd</h4>
            <h1><%= data[1].photod %></h1>
        </div>
        <div class="item-counter">
            <h4>List'd</h4>
            <h1><%= data[1].listed %></h1>
        </div>

    </div>

</div>
    
<%- include("partials/footer.ejs") %>