<%- include("partials/header.ejs") %>
  
<%- include("partials/sidebar.ejs") %>

<!-- NEW ITEM MODAL -->

    <form class="modal__new-item" action="/" method="post">
        <h1>Enter New Item</h1>
        <label for="group">Group Name:</label>
        <select name="group" id="group">

            <% data[3].groups.forEach(function(group) { %>
            
                <option value="<%= group %>"> <%= group %> </option>

            <% }) %>

        </select>
        <label>Item Name:</label>
        <input class="modal__new-item__name" type="text" name="item" placeholder="New Item" autocomplete="off">
        <div class="price-section">
            <div class="price-section__money">
                <label>Item Cost:</label>
                <div class="price-section__money__inputs">
                    <span>$</span>
                    <input type="text" name="costDollars" class="price" placeholder="XX" autocomplete="off">
                    <span>.</span>
                    <input type="text" name="costCents" class="price" placeholder="XX" autocomplete="off">
                </div>
            </div>
            <div class="price-section__money">
                <label>Item Price:</label>
                <div class="price-section__money__inputs">
                    <span>$</span>
                    <input type="text" name="priceDollars" class="price" placeholder="XX" autocomplete="off">
                    <span>.</span>
                    <input type="text" name="priceCents" class="price" placeholder="XX" autocomplete="off">
                </div>
            </div>
        </div>
        <label>Upload Image:</label>
        <input class="file-upload" type="file"name="file">
        <button class="add-item-button">Add To Closet</button>
    </form>

    <div class="display">
        <div class="display__welcome">
            <h2>Hello, Steven </h2>
            <p>Here's how your money is looking.</p>
        </div>

        <div class="money-reports">
            <div class="money-report">
                <h4>Sales By Group (Gross):</h4>
                <div class="money-report__reports">
                    <div>        
                        <h6>Shirts: </h6><p>$<%= data[0].shirts %></p>
                    </div>
                    <div>
                        <h6>Pants: </h6><p>$<%= data[0].pants %></p>
                    </div>
                    <div>
                        <h6>Shoes: </h6><p>$<%= data[0].shoes %></p>
                    </div>
                    <div>
                        <h6>Other: </h6><p>$<%= data[0].other %></p>
                    </div>
                </div>
            </div>
            
            <div class="money-report">
                <h4>Sales By Group (Net):</h4>
                <div class="money-report__reports">
                    <div>        
                        <h6>Shirts: </h6><p>$<%= data[1].shirts %></p>
                    </div>
                    <div>
                        <h6>Pants: </h6><p>$<%= data[1].pants %></p>
                    </div>
                    <div>
                        <h6>Shoes: </h6><p>$<%= data[1].shoes %></p>
                    </div>
                    <div>
                        <h6>Other: </h6><p>$<%= data[1].other %></p>
                    </div>
                </div>
            </div>
        
            <div class="money-report">
                <h4>Average Price By Group:</h4>
                <div class="money-report__reports">
                    <div>        
                        <h6>Shirts: </h6><p>$<%= data[2].shirts %></p>
                    </div>
                    <div>
                        <h6>Pants: </h6><p>$<%= data[2].pants %></p>
                    </div>
                    <div>
                        <h6>Shoes: </h6><p>$<%= data[2].shoes %></p>
                    </div>
                    <div>
                        <h6>Other: </h6><p>$<%= data[2].other %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<%- include("partials/footer.ejs") %>