<%- include('partials/header.ejs') %>

<%- include("partials/sidebar.ejs") %>

<!-- NEW ITEM MODAL -->

    <form class="modal__new-item" action="/" method="post">
        <h1>Enter New Item</h1>
        <label for="group">Group Name:</label>
        <select name="group" id="group">

            <% data[0].groups.forEach(function(group) { %>
            
                <option value="<%= group %>"> <%= group %> </option>

            <% }) %>

        </select>
        <label>Item Name:</label>
        <input class="modal__new-item__name" type="text" name="item" placeholder="New Item" autocomplete="off">
        <div class="price-section">
            <div class="price-section__money">
                <label>Item Cost:</label>
                <div class="price-section__money__inputs">
                    <span>$</span>
                    <input type="text" name="costDollars" class="price" placeholder="XX" autocomplete="off">
                    <span>.</span>
                    <input type="text" name="costCents" class="price" placeholder="XX" autocomplete="off">
                </div>
            </div>
            <div class="price-section__money">
                <label>Item Price:</label>
                <div class="price-section__money__inputs">
                    <span>$</span>
                    <input type="text" name="priceDollars" class="price" placeholder="XX" autocomplete="off">
                    <span>.</span>
                    <input type="text" name="priceCents" class="price" placeholder="XX" autocomplete="off">
                </div>
            </div>
        </div>
        <label>Upload Image:</label>
        <input class="file-upload" type="file"name="file">
        <button class="add-item-button">Add To Closet</button>
    </form>

    <div class="display">

        <div class="display__welcome">
            <h2>Hello, Steven </h2>
            <p><%= data[1].greeting %></p>
        </div>

        <div class="items-section">

            <div class="filter-toolbar">
                <form action="/filter" method="post">
                    <label for="group">Sort by: </label>
                    <select name="filterSelection" id="group" onChange="submit()">
                        <!-- <option disabled hidden>Tops</option> -->

                        <% data[0].groups.forEach(function(group) { %>
                        
                            <option value="<%= group %>"> <%= group %> </option>
            
                        <% }) %>
            
                    </select>
                </form>
            </div>

            <div class="items-section__items">

                <% data[1].foundItems.forEach(function(item) { %>
        
                    <form class="item" action="/change" method="POST">
                        <div class="item__display">
                            <div class="item-img-container">
                                <input type="hidden" name="selectedImgContainer" value="<%= item.id %>">
                                <!-- <img src="<%= item.img %>" alt=""> -->
                                <img src="https://cdn.pixabay.com/photo/2016/03/31/17/17/woman-1293658_960_720.jpg" alt="Item Image">
                            </div>
                            <button class="item__sold" name="moveItem" value="sold">MARK AS SOLD <span>$</span></button>
                        </div>
                        <div class="item-info">
                            <div class="item-info__top">
                                <label class="item-name-label" for="itemName">Item Name:</label>
                                <li class="item-name" name="itemName"> <%= item.name %> </li>
                            </div>
                            <div class="item-info__middle">
                                <div>
                                    <label class="status-label" for="price">Category:</label>
                                    <li class="item-name" name="category"> <%= item.group %> </li>
                                </div>
                                <div>
                                    <label class="item-name-label" for="price">Price:</label>
                                    <li class="item-name" name="price">$<%= item.price %></li>
                                </div>
                            </div>
                            <div class="move-to-section">
                                <label class="item-name-label">Move To: </label>
                                <div class="move-to-buttons">
                                    <button name="moveItem" value="<%= data[1].button1 %>"><i class="<%= data[1].class1 %>"></i></button>
                                    <button name="moveItem" value="<%= data[1].button2 %>"><i class="<%= data[1].class2 %>"></i></button>
                                    <button name="moveItem" value="delete"><i class="fas fa-trash"></i></button>
                                    <input type="hidden" name="moveId" value="<%= item.id %>">
                                </div>
                            </div>
                        </div>
                    </form>
        
                <% }) %>

            </div>

            

        </div>
    
                
    </div>

<%- include('partials/footer.ejs'); %>